@charset 'UTF-8';
 
body{
    background-color: rgba(0, 0, 255, 0.692);
}

header > h1{
    text-align: center;
    color: white;
}

section{
    width: 700px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.918);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.849);
}

#ilist{
    width: 300px;
    height: 200px;
    margin: 10px;
}
